<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello from Home | EJS Template</h1>
    <h2><%= company %></h2>
    <form action="#" method="post">
        <label for="nhero">New Hero</label>
        <input id="nhero" name="nhero" type="text">
        <button type="submit">Add New Hero</button>
    </form>
    <ol>
        <% heroes.forEach(function(hero){ %>
            <li> <%= hero %> </li>
        <% }); %>
    </ol>
</body>
</html>